@model string

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Погода</h1>
    <p>Для отображения погоды Пожалуйста выберите соответствующий город:</p>
</div>
<div>
    <ul>
        <li><a asp-controller="Home" asp-action="Index" asp-route-id="Krasnodar">Краснодар</a></li>
        <li><a asp-controller="Home" asp-action="Index" asp-route-id="Moscow">Москва</a></li>
        <li><a asp-controller="Home" asp-action="Index" asp-route-id="Orengurg">Огенбург</a></li>
        <li><a asp-controller="Home" asp-action="Index" asp-route-id="St.Peretburg">Санкт-Петербург</a></li>
        <li><a asp-controller="Home" asp-action="Index" asp-route-id="Kaliningrad">Калининград</a></li>
    </ul>
    
    @Model
    
</div>
